.container {
  display: flex;
}

.project {
  width: 30%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.to-do {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.to-do > button {
  width: 14%;
}
